*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  margin-left: 0; }

.heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-style: italic; }

.heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.sidebar {
  background-color: #c69963;
  max-width: 8rem; }

.header {
  background-color: #54483A;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .header__main {
    background-color: green;
    min-height: 80vh;
    min-width: 65vw; }
  .header__retalors {
    background-color: red;
    min-height: 80vh; }

.gallery {
  background-color: yellow;
  min-height: 85vh; }

.features {
  background-color: chocolate;
  min-width: 95vw;
  min-height: 85vh; }

.story {
  background-color: lightslategray;
  min-height: 80vh; }

.homes {
  background-color: blue;
  min-height: 150vh; }

.footer {
  background-color: lightcoral;
  min-height: 45vh; }

.realtors {
  background-color: crimson; }
