.header{
    background-color: $color-grey-dark-1;
    display: grid;
    
    grid-template-columns: repeat(2,1fr);

    &__main{
        background-color: green;
        min-height: 80vh;
        min-width: 65vw;


    }

    &__retalors{
        background-color: red;
        min-height: 80vh;
            
    }
}