.header{

    width: 95vw;
    padding-bottom: 8rem;


    display: grid;    
    grid-template-columns: repeat(2,1fr);

    &__main{
        
        min-height: 80vh;
        min-width: 65vw;
        background-color: $color-grey-dark-1;       
        background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
        background-size: cover;
        background-position: center;
        padding: 8rem;
        padding-top: 4rem;

    }

        &__logo {

            height: 3rem;
            padding-left: 38rem;
            margin-bottom: 10rem;
        }
    
        &__btn {
            align-self: start;
            justify-self: start;
            margin-top: 4rem;
            margin-bottom: 10rem;
        }
    
        &__seenon-text {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            grid-column-gap: 1.5rem;
            align-items: center;
    
            font-size: 1.6rem;
            color: $color-grey-light-2;
    
            &::before,
            &::after {
                content: "";
                height: 1px;
                display: block;
                background-color: currentColor;
            }
        }
    
        &__seenon-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 3rem;
            justify-items: center;
            align-items: center;
    
            img {
                max-height: 2.5rem;
                max-width: 100%;
                filter: brightness(70%);
            }
        }
}  
