.sidebar{
    background-color: $color-primary;
    min-width: 8rem;    
}

.nav-btn {
    border: none;
    border-radius: 0;
    margin-left: 1.75rem;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }
}
